.ds-header{
    width: 100%;
    height: 80px;
    background-color: var(--color-bg-header);
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.ds-container-navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ds-navbar > a{
    color: var(--color-fonte-white);
    font-size: 16px;
    padding: 0 16px 0 5px;
    text-decoration: none;
}


.ds-navbar  > .menu-item {
    font-weight: 400;

  }
  .ds-navbar  > .menu-active {
  font-weight: 700;

}
